<h1>
	<%= @article.title %>
</h1>
<div>
	<%= @article.body%>
</div>
<div>
	
</div>
<div>
	<%= link_to "Editar", edit_article_path(@article) %> 
</div>
<div>
	
</div>
<div>
	<%= link_to "Regresar", articles_path %> 
</div>